In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB(conn):
    
    conn.close()

In [3]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisFeatures\" ", con=conn).reset_index()

#make sure that all columns are displayed in our dataframe
pd.set_option('display.max_column',50)

#check dataframe
df.head(100)

,index,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,pass_fail_ind,reg_period,date_registration,date_unregistration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,qtr_sum_clicks,half_sum_clicks,threeqtr_sum_clicks,qtr_half_sum_clicks,half_threeqtr_sum_clicks,thrd_sum_clicks,twothrd_sum_clicks,thrd_twothrd_sum_clicks,allclicks,std_half_score,std_total_weight
0,0,3733,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,QUARTERB4,-68.0,-8.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6516,AAA,2014J,SocialScience,269,J,2014,0,Pass,PASS,QUARTERB4,-52.0,NaN,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,862.0,1347.0,2066.0,513.0,719.0,1040.0,1875.0,307.0,2791.0,56.400000,100.0
2,2,8462,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,LONGB4,-137.0,119.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,446.0,565.0,565.0,119.0,0.0,525.0,565.0,40.0,646.0,58.166667,40.0
3,3,8462,DDD,2014J,STEM,262,J,2014,1,Withdrawn,None,QUARTERB4,-38.0,18.0,N,M,55<=,London Region,HE Qualification,30-40%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11391,AAA,2013J,SocialScience,268,J,2013,0,Pass,PASS,LONGB4,-159.0,NaN,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,447.0,612.0,650.0,165.0,38.0,489.0,615.0,123.0,934.0,81.600000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,33897,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,QUARTERB4,-58.0,107.0,N,M,0-35,West Midlands Region,Lower Than A Level,30-40%,60,0.0,322.0,322.0,322.0,0.0,0.0,322.0,322.0,0.0,322.0,8.333333,10.0
96,96,33897,DDD,2014J,STEM,262,J,2014,1,Withdrawn,None,MONTHB4,-18.0,41.0,N,M,0-35,West Midlands Region,Lower Than A Level,30-40%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,97,33915,FFF,2013B,STEM,240,B,2013,0,Distinction,PASS,QUARTERB4,-64.0,NaN,N,F,0-35,South East Region,A Level or Equivalent,30-40%,60,144.0,1169.0,2145.0,3206.0,1012.0,1061.0,1456.0,3137.0,689.0,4121.0,91.500000,100.0
98,98,33930,DDD,2013J,STEM,261,J,2013,0,Pass,PASS,LONGB4,-143.0,NaN,N,F,0-35,South West Region,A Level or Equivalent,20-30%,90,64.0,175.0,213.0,410.0,38.0,197.0,185.0,394.0,28.0,544.0,84.625000,80.0
99,99,34068,CCC,2014J,STEM,269,J,2014,0,Withdrawn,None,QUARTERB4,-74.0,108.0,N,M,0-35,Scotland,Lower Than A Level,50-60%,30,30.0,544.0,583.0,583.0,147.0,0.0,579.0,583.0,4.0,613.0,33.050000,18.0

In [4]:
#count null values of date_unregistration
df['date_unregistration'].isnull().sum()

22521

In [7]:
drop_list = ['reg_period','code_presentation','date_unregistration','pass_fail_ind','std_total_weight']

df = df.drop(drop_list, axis=1)
df.head(10)

,index,id_student,code_module,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,qtr_sum_clicks,half_sum_clicks,threeqtr_sum_clicks,qtr_half_sum_clicks,half_threeqtr_sum_clicks,thrd_sum_clicks,twothrd_sum_clicks,thrd_twothrd_sum_clicks,allclicks,std_half_score
0,0,3733,DDD,STEM,261,J,2013,0,Withdrawn,-68.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6516,AAA,SocialScience,269,J,2014,0,Pass,-52.0,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,862.0,1347.0,2066.0,513.0,719.0,1040.0,1875.0,307.0,2791.0,56.400000
2,2,8462,DDD,STEM,261,J,2013,0,Withdrawn,-137.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,446.0,565.0,565.0,119.0,0.0,525.0,565.0,40.0,646.0,58.166667
3,3,8462,DDD,STEM,262,J,2014,1,Withdrawn,-38.0,N,M,55<=,London Region,HE Qualification,30-40%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11391,AAA,SocialScience,268,J,2013,0,Pass,-159.0,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,447.0,612.0,650.0,165.0,38.0,489.0,615.0,123.0,934.0,81.600000
5,5,23629,BBB,SocialScience,240,B,2013,2,Fail,-47.0,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60,14.0,105.0,147.0,147.0,42.0,0.0,117.0,147.0,30.0,161.0,38.813953
6,6,23632,BBB,SocialScience,268,J,2013,0,Withdrawn,-194.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,23698,CCC,STEM,269,J,2014,0,Pass,-110.0,N,F,0-35,East Anglian Region,A Level or Equivalent,50-60%,120,181.0,325.0,475.0,587.0,153.0,112.0,325.0,565.0,150.0,910.0,74.325000
8,8,23798,BBB,SocialScience,268,J,2013,0,Distinction,-27.0,N,M,0-35,Wales,A Level or Equivalent,50-60%,60,6.0,212.0,365.0,490.0,153.0,125.0,255.0,459.0,110.0,590.0,89.612903
9,9,24186,GGG,SocialScience,241,B,2014,0,Pass,-25.0,Y,F,0-35,Yorkshire Region,Lower Than A Level,10-20,30,12.0,15.0,42.0,109.0,27.0,67.0,38.0,91.0,4.0,184.0,0.000000

In [8]:
df['module_domain'].value_counts()

STEM             21402
SocialScience    11191
Name: module_domain, dtype: int64

In [ ]:
df['code_module'].value_counts()

In [10]:
#mapping the columns
df['imd_band'] = df['imd_band'].map({'0-10%':0,'10-20':1,'20-30%':2,'30-40%':3,'40-50%':4,'50-60%':5,'60-70%':6,'70-80%':7,'80-90%':8,'90-100%':9})
df['module_domain'] = df['module_domain'].map({'SocialScience': 0,'STEM': 1})
df['code_module'] = df['code_module'].map({'AAA': 0,'BBB': 1,'CCC':2,'DDD':3,'EEE':4,'GGG':5})
df['term'] = df['term'].map({'J': 0,'B': 1})
df['year'] = df['year'].map({'2013': 0,'2014': 1})
df['gender'] = df['gender'].map({'M': 0,'F': 1})
df['age_band'] = df['age_band'].map({'0-35': 0,'35-55': 1,'55<=':2})
df['region'] = df['region'].map({'Scotland': 0,'East Anglian Region': 1,'London Region':2,'South Region': 3,'North Western Region': 4,'West Midlands Region':5,'South West Region': 6,'East Midlands Region': 7,'South East Region':8,'Wales': 9,'Yorkshire Region': 10,'North Region':11,'Ireland':12})
df['final_result'] = df['final_result'].map({'Withdrawn':0, 'Fail':0,'Pass':1,'Distinction':1})
df['disability'] = df['disability'].map({'N':0,'Y':1})
df['highest_education'] = df['highest_education'].map({'No Formal quals':0,'Lower Than A Level':1,'A Level or Equivalent':2,'HE Qualification':3,'Post Graduate Qualification':4})

In [11]:
df.head(10)

,index,id_student,code_module,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,qtr_sum_clicks,half_sum_clicks,threeqtr_sum_clicks,qtr_half_sum_clicks,half_threeqtr_sum_clicks,thrd_sum_clicks,twothrd_sum_clicks,thrd_twothrd_sum_clicks,allclicks,std_half_score
0,0,3733,3.0,1,261,0,0,0,0,-68.0,0,0,2,3,3,9.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6516,0.0,0,269,0,1,0,1,-52.0,0,0,2,0,3,8.0,60,256.0,862.0,1347.0,2066.0,513.0,719.0,1040.0,1875.0,307.0,2791.0,56.400000
2,2,8462,3.0,1,261,0,0,0,0,-137.0,0,0,2,2,3,3.0,90,81.0,446.0,565.0,565.0,119.0,0.0,525.0,565.0,40.0,646.0,58.166667
3,3,8462,3.0,1,262,0,1,1,0,-38.0,0,0,2,2,3,3.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11391,0.0,0,268,0,0,0,1,-159.0,0,0,2,1,3,9.0,240,98.0,447.0,612.0,650.0,165.0,38.0,489.0,615.0,123.0,934.0,81.600000
5,5,23629,1.0,0,240,1,0,2,0,-47.0,0,1,0,1,1,2.0,60,14.0,105.0,147.0,147.0,42.0,0.0,117.0,147.0,30.0,161.0,38.813953
6,6,23632,1.0,0,268,0,0,0,0,-194.0,0,1,0,1,2,4.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,23698,2.0,1,269,0,1,0,1,-110.0,0,1,0,1,2,5.0,120,181.0,325.0,475.0,587.0,153.0,112.0,325.0,565.0,150.0,910.0,74.325000
8,8,23798,1.0,0,268,0,0,0,1,-27.0,0,0,0,9,2,5.0,60,6.0,212.0,365.0,490.0,153.0,125.0,255.0,459.0,110.0,590.0,89.612903
9,9,24186,5.0,0,241,1,1,0,1,-25.0,1,1,0,10,1,1.0,30,12.0,15.0,42.0,109.0,27.0,67.0,38.0,91.0,4.0,184.0,0.000000

In [16]:
# write dataframe to database
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Georgetown16@database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com:5432/Dataset')
df.to_sql('featureSTG5', engine, if_exists='replace')

In [ ]:
disconnectDB(conn)